
.mt-16{
    margin-top: 16px ;
}
.background_gray{
    background-color: #424242;
    border-radius: 50px;
    
}
#main{
    position: relative;
    height: 500px;
   
}


.background_yellow{
    background-color: rgb(190, 190, 64);
} 
.background_green{
    background-color: rgb(54, 179, 54);
} 
.background_pup{
    background-color: rgb(154, 18, 154);
} 
.background_red{
    background-color:rgb(230, 76, 76);
} 
.background_blue{
    background-color: rgb(87, 195, 241);
} 
.background_ograne{
    background-color:rgb(184, 135, 44);
} 
.text_white{
    color: white !important;
}
.color-header{
    background: linear-gradient(to right,#b8cbb8 0%,#b8cbb8 0%,#b465da 0%,#cf6cc9 33%,#ee609c 66%,#ee609c 100%);
}
/* Dang nhap */
#main .img-logo{
    display: flex;
    justify-content: center;
}
#main .img-logo img{
    width: 150px;
    margin: auto;
}
#form_dangnhap{
    width: 30%;
    border: 1px #ddd solid;
    border-radius: 10px;
    margin: auto;
    padding: 20px 24px;
}
/* Button */
.btn_dangnhap {
    background: #f0c14b;
    border: 1px solid #ddd ;
    text-align: center;
    color: #000;
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    margin: 0;
}
.btn_dangki,
.btn_dangnhap p{
    margin: 0;
}

/* Đăng kí */
.btn_dangki{
    width: 30%;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 20px;
}
.dangki {
    
    text-align: center;
    display: flex;
    justify-content: center;
}


/* Begin:Footer */

#footer{
   position: relative;
    
    height: 200px;
    width: 100%;
    top: 134px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer .social_icon,
#footer .menu-footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
#footer .social_icon li,
#footer .menu-footer li{
    list-style-type: none;
}
#footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}
#footer .social_icon li a:hover{
    transform: translateX(-10px);
}
#footer .menu-footer li a{
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 10px;
    color: #fff;
    opacity: 0.7;
    display: inline-block;
}
/* End :Footer */
   
/* Mobile : width < 641px */
@media screen and (max-width:641px)
{
    #form_dangnhap {
        width: 86%;
    }
    .btn_dangki {
        width: 60%;
    }
    #footer{
        top: 200px;
    }
}